section.about
  h2.about__title.title Мы создаем мобильные приложения для крупных корпораций
  p.about__desc.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 

  .about__items
    .about__item.info-block
      .info-block__icon
      .info-block__inner
        h3.info-block__title Создание сайтов
        p.info-block__desc.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.

    .about__item.info-block
      .info-block__icon
      .info-block__inner
        h3.info-block__title Создание сайтов
        p.info-block__desc.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.

    .about__item.info-block
      .info-block__icon
      .info-block__inner
        h3.info-block__title Создание сайтов
        p.info-block__desc.text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.

  a.about__button.button(href='#') Все услуги
