section.stats
  .stats__wrapper
    .stats__info
      h2.stats__title.title Высокие стандарты разработки
      p.stats__desc.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. 
      a.stats__link(href='#') Подробнее о компании
    
    img.stats__img(src='./img/work4.png' alt='work standarts')

  .stats__items
    .stats__item.stat-item
      .stat-item__wrapper
        .stat-item__icon
        span.stat-item__count 125
      p.stat-item__title Our projects

    .stats__item.stat-item
      .stat-item__wrapper
        .stat-item__icon
        span.stat-item__count 125
      p.stat-item__title Our projects

    .stats__item.stat-item
      .stat-item__wrapper
        .stat-item__icon
        span.stat-item__count 125
      p.stat-item__title Our projects

    .stats__item.stat-item
      .stat-item__wrapper
        .stat-item__icon
        span.stat-item__count 125
      p.stat-item__title Our projects

    .stats__item.stat-item
      .stat-item__wrapper
        .stat-item__icon
        span.stat-item__count 125
      p.stat-item__title Our projects
