section.video
  h2.video__title.title Видео о нашей работе
  p.video__desc.text Просто посмотрите, как мы работаем
  .video__wrapper
    img.video__img(src='./img/work3.png')
    a.video__button(href='#') Смотреть видео
