section.partners
  img.partners__img(src='./img/icons/ms.svg' alt='ms')
  img.partners__img(src='./img/icons/ms.svg' alt='ms')
  img.partners__img(src='./img/icons/ms.svg' alt='ms')
  img.partners__img(src='./img/icons/ms.svg' alt='ms')
