footer.footer
  .footer__blocks
    .footer__block
      h3.footer__title Контактная информация
      .footer__info-wrapper
        p.footer__info test@test.ru
        p.footer__info +8 777 555 66 99
        p.footer__info Москва, Бульвар Ленина 33

    .footer__block
      h3.footer__title Основные ссылки
      .footer__info-wrapper
        a.footer__info(href='#') Главная
        a.footer__info(href='#') Наши проекты
        a.footer__info(href='#') Наши услуги
        a.footer__info(href='#') Контакты
    
    .footer__block
      h3.footer__title Наши проекты
      .footer__info-wrapper
        a.footer__info(href='#') РосНано 
        a.footer__info(href='#') Сколково
        a.footer__info(href='#') Проект “Восток”
        a.footer__info(href='#') ТЭЦ Калининграда

    .footer__block
      h3.footer__title Социальные сети
      .footer__info-wrapper
        a.footer__info(href='#') VK.com
        a.footer__info(href='#') Instagram
        a.footer__info(href='#') Facebook
        a.footer__info(href='#') Twitter

  p.footer__copy (с) 2019. Все права защищены.
