section.hero
  header.header
    nav.nav
      a.nav__link(href='#') Главная
      a.nav__link(href='#') Наши проекты
      a.nav__link(href='#') Услуги
      a.nav__link(href='#') Новости
      a.nav__link(href='#') Контакты

  .hero__wrapper
    p.hero__subtitle Передовая IT студия
    h1.hero__title.title Мы создаем легкие решения сложных задач и проблем
    a.hero__button.button(href='#') Наши проекты

