section.mailing
  .mailing__wrapper
    h3.mailing__title Подпишитесь на нашу рассылку
    p.mailing__desc.text Полезные статьи, акции, новости - получите все это сейчас!

  form.mailing__form
    label.mailing__label
      input.mailing__input(type='email' placeholder='Ваш e-mail')
    button.mailing__button.button(type='submit') Подписаться

  p.mailing__warning.text Мы не шлем спам, и передаем никому ваши данные.

