section.services
  .services__info
    h2.services__title.title Наши работы, на которых мы специализируемся
    a.services__button.button(href='#') Все услуги

  .services__items
    .services__item.service
      img.service__img(src='./img/work2.jpg')
      h3.service__title #[span.service__count 01.] Исследование и упаковка
      p.service__desc.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.service__link(href='#') Подробнее

    .services__item.service
      img.service__img(src='./img/work2.jpg')
      h3.service__title #[span.service__count 01.] Исследование и упаковка
      p.service__desc.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.service__link(href='#') Подробнее

    .services__item.service
      img.service__img(src='./img/work2.jpg')
      h3.service__title #[span.service__count 01.] Исследование и упаковка
      p.service__desc.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.service__link(href='#') Подробнее

