doctype html
html(lang='en')
  head
    include partials/head

  body
    .page
      include partials/hero

      main.main
        include partials/about
        include partials/stats
        include partials/services
        include partials/portfolio
        include partials/video
        include partials/mailing

      include partials/footer
