doctype html
html(lang='en')
  head
    include partials/head

  body
    .page
      include partials/hero

      main.main
        include partials/about
        include partials/advantages
        include partials/skills
        include partials/process
        include partials/portfolio
        include partials/partners
        include partials/contacts

      include partials/footer 
