section.contacts
  h3.contacts__title.title Хотите веб-сайт?
  p.contacts__desc
    | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

  form.form
    label.form__label
      input.form__input(placeholder='Ваше имя' type='text')
    label.form__label
      input.form__input(placeholder='Ваш e-mail' type='email')
    label.form__label
      textarea.form__input.form__textarea(placeholder='Сообщение' type='text')
    button.form__button.button(type='submit') Отправить
