footer.footer
  .footer__info
    p.footer__name Иванов Иван
    p.footer__copyright (с) 2018. Все права защищены.
  
  .footer__social
    a.footer__link(href='#')
    a.footer__link(href='#')
    a.footer__link(href='#')
