section.portfolio
  each img in ['./img/p1.jpg', './img/p2.jpg', './img/p1.jpg', './img/p2.jpg', './img/p2.jpg', './img/p1.jpg', './img/p2.jpg', './img/p1.jpg']
    .portfolio__img-wrapper
      img.portfolio__img(src=img alt='portfolio item')
