section.skills
  .skills__list
    .skills__title.title Мои навыки
    p.skills__item Adobe Photoshop
    p.skills__item Adobe Photoshop
    p.skills__item Adobe Photoshop
  .skills__pic
    img.skills__img(src='./img/pic.jpg')
